<div class="title"><p>投稿画面</p></div>
<%= form_for @post  do |form| %>
<%= render 'shared/error_messages', object: form.object %>

<%= form.label :"カフェ" %> <%= form.text_field :store_name, id: :store_name ,class: "form-control",placeholder: "カフェの名前をご入力ください"%>
<%= form.label :"住所" %><%= form.select :address_prefectures, ["北海道", "青森県", "岩手県", "宮城県", "秋田県", "山形県", "福島県", "茨城県", "栃木県", "群馬県", "埼玉県", "千葉県", "東京都", "神奈川県", "新潟県", "富山県", "石川県", "福井県", "山梨県", "長野県", "岐阜県", "静岡県", "愛知県", "三重県", "滋賀県", "京都府", "大阪府", "兵庫県", "奈良県", "和歌山県", "鳥取県", "島根県", "岡山県", "広島県", "山口県", "徳島県", "香川県", "愛媛県", "高知県", "福岡県", "佐賀県", "長崎県", "熊本県", "大分県", "宮崎県", "鹿児島県", "沖縄県"], {prompt: '都道府県を選択してください'}, class: 'form-control btn' %>


<%= form.text_field :address, id: :address ,class: "form-control",placeholder: "住所をご入力ください"%>

<%= form.label :"カフェの画像" %><%= form.file_field :image %>                       

<div class="store_time">
<%= form.label :"営業時間"%>
<%= form.time_field :time_start ,class: "form-control"%> <%= form.label :"〜" %> <%= form.time_field :time_end ,class: "form-control"%>
</div>

<%= form.label :"環境" %>
<div class="environment center" data-toggle="tooltip" title="Wi-Fi,充電,喫煙,クレジットカードの利用状況をご入力ください">
<div class="btn-group" data-toggle="buttons">
	<label class="btn btn-default" >
        <%= form.check_box :wifi, {} , true, false %><%= image_tag 'wifi.png' , :size => '50x40'%>
    </label>
</div>
<div class="btn-group" data-toggle="buttons">
	<label class="btn btn-default">
        <%= form.check_box :plug , {} , true, false %><%= image_tag 'plug.png' , :size => '50x40'%>
    </label>
</div>
<div class="btn-group" data-toggle="buttons">
	<label class="btn btn-default">
        <%= form.check_box :tabacco , {} , true, false %><%= image_tag 'tabacco.png' , :size => '50x40'%>
    </label>
</div>
<div class="btn-group" data-toggle="buttons">
	<label class="btn btn-default">
        <%= form.check_box :card , {} , true, false %><%= image_tag 'card.png' , :size => '50x40'%>
    </label>
</div>
</div>

<%= form.label :"評価" %>
<div class="evaluation center"　data-toggle="tooltip" title="評価を５段階でご入力ください">

<div class="btn-group" data-toggle="buttons">
	<label class="btn btn-default">
         <%= form.check_box :evaluation1,   {} , '1', nil %><%= image_tag 'star.png' , :size => '50x40'%>
    </label>
</div>
<div class="btn-group" data-toggle="buttons">
	<label class="btn btn-default">
         <%= form.check_box :evaluation2,  {} , '1', nil  %><%= image_tag 'star.png' , :size => '50x40'%>
    </label>
</div>
<div class="btn-group" data-toggle="buttons">
	<label class="btn btn-default">
         <%= form.check_box :evaluation3,  {} , '1', nil  %><%= image_tag 'star.png' , :size => '50x40'%>
    </label>
</div>
<div class="btn-group" data-toggle="buttons">
	<label class="btn btn-default">
  		 <%= form.check_box :evaluation4,  {} , '1', nil  %><%= image_tag 'star.png' , :size => '50x40'%>
    </label>
</div>
<div class="btn-group" data-toggle="buttons">
	<label class="btn btn-default">
  		 <%= form.check_box :evaluation5,  {} , '1', nil  %><%= image_tag 'star.png' , :size => '50x40'%>
    </label>
</div>
</div>

<%= form.submit "投稿" %>
</div>
<% end %>