<%# <% if logged_in? %> %>

  <div class="row">
 <%= render 'shared/messages'%>
    <div class="col-md-3">
      <section class="user_info">
        <%= render 'shared/user_info' %>
        <%# <%= render 'shared/follow_form' if logged_in? %> %>
      </section>
    </div>

    <div class="col-md-9">

      <p class="my_toptitle">投稿したカフェ</p>
      <%= render 'shared/myfeed' %>
                <p class="like_toptitle">自分がいいねしたカフェ</p>
      <%= render 'shared/likingfeed' %>
      <p class="following_toptitle">フォロワーの投稿したカフェ</p>
    　<%= render 'shared/followingfeed' %>


    </div>

  </div>
<%# <% else %> %>
 <div class="image">
　<%= render 'shared/messages'%>
　<div class="home_topic">
  <div class="home_topic_title">
   <h1>お気に入りのカフェを投稿しよう</h1>
  </div>

  <div class="home_topic_detail">
   <h2>
    自分のお気に入りのカフェを投稿で共有するアプリケーションです。<br>
    住所や営業時間はもちろん、Wi-Fiやクレジットカードの利用状況まで確認いただきます。<br>
    また、Google Mapを使用して住所情報から場所を特定することも可能です。
   </h2>
   </div>
 </div>
 <div class="home_loginbutton">
  <%# <%= link_to "サインアップ", signup_path, class: "btn btn-lg btn-primary" %>
  <%# <%= link_to 'テストログイン', test_login_path, class:"btn btn-lg btn-success" %> %>
 </div>
</div>
<%# <% end %> %>
