<%= image_tag @user.image.url ,class: 'userinfo_image', size: '200x200' %>
<div class="name"><%= @user.name</div> %>
<% @user ||= current_user %>
<div class="mystats">
  <a href="<%= following_user_path(@user)%>"> 
    <strong id="following" class="stat">
       <%= @user.following.count %>フォロー 
    </strong>
   </a>
  <a href="<%= followers_user_path(@user) %>%"> 
    <strong id="followers" class="stat">
      <%= @user.followers.count%>フォロワー 
    </strong>
  </a>
</div>

