<a href="/post/<%= post.id %>">
<div class="Post">
 <li>
  <div class="Post_detail">
   <div class="Post_image">
    <%= image_tag post.image, :size =>'100x100'%>
   </div>
   <div class="Post_content">
    <p><strong>お店の名前</strong><span><%= post.store_name %></span></p>
    <p><strong>住所 </strong><span><%= post.address_prefectures %></span></p>
    <p><strong>営業時間 </strong><span><%= post.time_start %>〜<%= post.time_end %></span></p>

   </div>
   <div class="post_timestamp">
    <span class="timestamp">
    <div>
     <%= time_ago_in_words(post.created_at) %>前の投稿　
     </div>
     <div>
     <% if current_user?(post.user) %>
     <%= link_to "編集", edit_post_path(post.id) ,class: "link" %>
     <%= link_to "削除", post, method: :delete,
                                      data: { confirm: "本当に削除してもよろしいでしょうか。" },class: "link" %>
     <% end %>
     </div>
    </span>
   </div>
  </div>
 </li>
</div>
</a>
