<% provide(:title, '投稿詳細画面') %>

<div class="showAllpost">
    <div class="showAllpost_detail">
        <div class="title"><p>投稿詳細画面</p></div>
     <div class="Post_image">
      <%= image_tag @post.image, :size =>'350x250'%>

<% if logged_in? && @post.user != current_user%>
      <div class="like_button">
<%= render 'likes/like' , post: @post%>
</div>
<%end%>

<span class="showpost_user">
<p>投稿したユーザー</p>
<div class="user_detail">
<a href="/users/<%= @post.user.id %>">
        <%= image_tag @post.user.image, :size => '50x50'%>
    <%= @post.user.name %>
</a>
</div>
</span>
     </div>
     <div class="Post_content">
  <table class="table">
    <tr>
      <th>カフェの名前</th>
      <td>
        <%= @post.store_name %>
      </td>
    </tr>
    <tr>
      <th>住所</th>
      <td>
        <%= @post.address %>
      </td>
    </tr>
    <tr>
      <th>営業時間</th>
      <td>
        <%= @post.time_start %>
        〜
        <%= @post.time_end %>
      </td>
    </tr>
    <tr>
 <th>環境</th>
       <td>
<% if @post.wifi.present? %>
 <%= image_tag 'wifi.png' , :size => '50x40'%>
<%end%>

<% if @post.plug.present? %>
 <%= image_tag 'plug.png' , :size => '50x40'%>
<%end%>

<% if @post.tabacco.present? %>
 <%= image_tag 'tabacco.png' , :size => '50x40'%>
<%end%>

<% if @post.card.present? %>
 <%= image_tag 'card.png' , :size => '50x40'%>   
<%end%>
      </td>
          </tr>
              <tr>
 <th>評価</th>
        <td>
<% if @post.evaluation1.present? %>
 <%= image_tag 'star.png' , :size => '50x40'%>
<%end%>

<% if @post.evaluation2.present? %>
 <%= image_tag 'star.png' , :size => '50x40'%>
<%end%>

<% if @post.evaluation3.present? %>
 <%= image_tag 'star.png' , :size => '50x40'%>
<%end%>

<% if @post.evaluation4.present? %>
 <%= image_tag 'star.png' , :size => '50x40'%>
<%end%>

<% if @post.evaluation5.present? %>
 <%= image_tag 'star.png' , :size => '50x40'%>
<%end%>
      </td>
          </tr>
<tr>

<th>いいね数</th>
<td>   <%= @post.likes.count %></td>

</tr>
<tr>

<th>いいねしたユーザー</th>
<td>
<% @post.liked_users.each do |user| %>
  <li class = "good_users"><%= user.name %></li>
<% end %>

</td>
</tr>
</table>

     </div>
    

    </div>
                   <div id="map" style="width: 800px; height: 400px;"></div>
</div>
</div>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(14);
  });
</script>
